<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
	integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
<title>マイページ</title>
<style>
</style>
</head>

<body>
	<!-- ナビゲーションバー -->
	<nav class="navbar navbar-light bg-light fixed-top">
		<!-- タイトル -->
		<a class="navbar-brand" href="#">FC-Kirishima U-99 <i
			class="fas fa-futbol"></i></a>
		<!-- ハンバーガーメニュー -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- ナビゲーションメニュー -->
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="home"><i
						class="fas fa-home"></i> ホーム</a></li>
				<li class="nav-item"><a class="nav-link" href="mypage"><i
						class="far fa-user-circle"></i> [[${@authUser.userName}]]さんマイページ</a></li>
			</ul>
		</div>
	</nav>
	<!-- ナビゲーションバー -->
	<br>
	<br>
	<br>
	<div class="cotainer">
		<div class="col-sm-6 col-md-6 col-lg-4">
			<div class="row justify-content-center">
				<div class="col-ms-8 p-3 mb-4">
					<div class="card">
						<div class="card-header">
							<i class="far fa-user-circle"></i>&nbsp;ユーザー情報
						</div>
						<div class="card-body p-4">
							<div class="p-2 border-bottom">
								<div class="mb-4">
									<h6 class="text-muted">ユーザー名</h6>
									<h6 class="mb-1">[[${@authUser.userName}]]</h6>
								</div>
								<div class="mb-2">
									<h6 class="text-muted">参加グループ</h6>
									<th:block th:switch="${@authUser.Authority.id}">
										<h6 class="mb-1" th:case=1 th:text="管理者"></h6>
										<h6 class="mb-1" th:case=2 th:text="マネージャー"></h6>
										<h6 class="mb-1" th:case=3 th:text="小学生"></h6>
										<h6 class="mb-1" th:case=4 th:text="中学生"></h6>
										<h6 class="mb-1" th:case=5 th:text="小学生／中学生"></h6>
										<h6 class="mb-1" th:case=6 th:text="高校生以上／社会人"></h6>
										<h6 class="mb-1" th:case=* th:text="UNKNOWN"></h6>
									</th:block>
								</div>
							</div>
							<div class="col-md-6 offset-md-4">
								<br> <a href="#" class="btn btn-link"> <i
									class="fas fa-user-cog"></i> ユーザー情報の編集
								</a> <br> <a href="#" class="btn btn-link" data-toggle="modal"
									data-target="#logoutModal"> <i class="fas fa-sign-out-alt"></i>
									ログアウト
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>



		<div class="col-sm-6 col-md-6 col-lg-4">
			<div class="row justify-content-center">
				<div class="col-ms-8 mb-4">
					<div class="card">
						<div class="card-header">
							<i class="fas fa-cog"></i>&nbsp;設定・登録
						</div>
						<div class="card-body p-3">

							<div class="col-md-6 offset-md-4">
								<a href="#" class="btn btn-link"> <i
									class="fas fa-plus-circle"></i>&nbsp; カテゴリーの追加/削除
								</a> <br> <a href="/setting/location" class="btn btn-link"> <i
									class="fas fa-map-marker-alt"></i>&nbsp; 開催場所の追加/削除
								</a> <br> <a href="#" class="btn btn-link"> <i
									class="fas fa-shoe-prints"></i>&nbsp; 集合場所の追加/削除
								</a> <br> <a href="#" class="btn btn-link"> <i
									class="far fa-question-circle"></i>&nbsp; 不具合がある場合
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- ログアウトmodhal -->
		<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog"
			aria-labelledby="basicModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">確認</h4>
					</div>
					<div class="modal-body">
						<label>ログアウトしてよろしいですか？</label>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
						<button type="button" class="btn btn btn-danger"
							onclick="location.href='/login/doLogout'">ログアウト</button>
					</div>
				</div>
			</div>
		</div>
		<!-- ログアウトmodal -->

	</div>
	<!-- container -->

	<br>
	<br>
	<br>

</body>
</html>